{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-async-to-generator",
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-default"
        }
      ]
    ]
  ]
}
